*.7z binary
*.ace binary
*.arj binary
*.bin binary
*.cue binary
*.dll binary
*.exe binary
*.gz binary
*.hqx binary
*.ima binary
*.img binary
*.iso binary
*.lzh binary
*.ocx binary
*.rar binary
*.sit binary
*.vbx binary
*.wsz binary
*.zip binary
